# Method 1

In [18]:
raw_data = open('SMSSpamCollection').read()
raw_data[0:100]

'ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g'

In [19]:
parsed_data = raw_data.replace('\t','\n').split('\n')
parsed_data[0:5]

['ham',
 'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...',
 'ham',
 'Ok lar... Joking wif u oni...',
 'spam']

In [20]:
label_list = parsed_data[0::2]
msg_list = parsed_data[1::2]
print(label_list[0:5])
print(msg_list[0:5])

['ham', 'ham', 'spam', 'ham', 'ham']
['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...', 'Ok lar... Joking wif u oni...', "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", 'U dun say so early hor... U c already then say...', "Nah I don't think he goes to usf, he lives around here though"]

In [21]:
import pandas as pd

In [22]:
print(len(label_list))

5575

In [23]:
print(len(msg_list))

5574

In [24]:
print(label_list[-3:])

['ham', 'ham', '']

combined_df = pd.DataFrame({
    'label' : label_list[:-1],
    'sms' : msg_list
})

combined_df.head()

# Method 2 - Read CSV()

In [26]:
dataset = pd.read_csv('SMSSpamCollection',sep = "\t" , header = None)
dataset.head()

      0                                                  1
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

# Exploring Dataset

In [27]:
#Read the dataset

In [30]:
dataset = pd.read_csv('SMSSpamCollection',sep = "\t" , header = None)

dataset.columns=['label','sms']

In [31]:
dataset.head()

  label                                                sms
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [32]:
#Shape of Data

In [34]:
print(f"The dataset has {len(dataset)} rows and {len(dataset.columns)} columns")

The dataset has 5572 rows and 2 columns

In [35]:
#ham/spam

In [37]:
print(f"Ham = {len(dataset[dataset["label"] == "ham"])}")
print(f"Spam = {len(dataset[dataset["label"] == "spam"])}")

Ham = 4825
Spam = 747

In [38]:
# Missing Data Check

In [40]:
print(f"Numbers of Missing Label: {dataset['label'].isnull().sum()}")

Numbers of Missing Label: 0

In [41]:
print(f"Numbers of Missing Message: {dataset['sms'].isnull().sum()}")

Numbers of Missing Message: 0